/* Paleta de cores */
:root{
    --branco1: #ffffff;
    --branco2: #e0e0e0;
    --beje: #D9CEB9;

    --preto1: black;
    --cinza1: #21252c;
    --cinza2: #313741;
    --cinza3: #3e4855;
    --cinza4: #788498;
    --cinza5: #6683af;
    --cinza-claro: #acacac;
    --cinza-claro2: #a3a2a2;

    --amarelo-p:#faeb66;
    --azul-p:  rgb(165, 204, 255);

  /* Exemplo: background: var (--cor-fundo3); */

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cinza1);
}