.mini-retangular-box1{
  width: 100%;
  height: 5vh;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: var(--cinza2);
  z-index: 1;
  position: absolute;

}
.retangular-box1{
  width: 100%;
  height: 55vh;
  background-color: var(--cinza3);
  position: relative;
}
.carousel-container1 {
  position: relative;
  width: 80%;
  height: 225px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.carousel-container2 {
  overflow: hidden;
}

.carousel {
  margin-top: 11vh;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.book {
  flex: 0 0 150px;
  margin-right: 10px;
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  margin-top: -15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrow{
  color: #000;
  font-size: 20.5px;
  position: absolute;
  top: 70%;
  transform: translateY(50%);
  line-height: 35px;
}
  
.left {
  left: -70px;
}
.left i {
  margin-left: 8px; /* ajuste o valor conforme necessário */
}

.right {
  right: -70px;
}
.right i {
  margin-left: 8px; /* ajuste o valor conforme necessário */
}